<a href="https://colab.research.google.com/github/hungvo07/foodDeliveryRMIT/blob/main/M1_1_E6_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://files.realpython.com/media/Defining-Your-Own-Python-Function_Watermarked.d5b07e88ece4.jpg" />

# FUNCTIONS

## Q1: Max of three
Write a Python function `max_of_three` to find and return the max of three numbers.

The function takes in three integers and return one integer.

*Example:*
```python
>>> print(max_of_three(1,2,3))
3
>>> print(max_of_three(10,9,8))
10
>>> print(max_of_three(0,0,-4))
0
```

In [ ]:
# YOUR CODE HERE

## Q2: Add and subtract
Write a program to create function `calculation` such that it can accept two numbers and calculate their sum and difference. The difference should be non-negative.

The function should have:
* Two arguments, with default values 20 and 10
* Return both their sum first and difference second in a single return call.

*Example:*
```python
>>> s,d = calculation()
>>> print(s, d)
30 10 # output

>>> s,d = calculation(35,15)
>>> print(s, d)
50 20 # output

>>> s,d = calculation(3,7)
>>> print(s, d)
10 4 # output
```

In [ ]:
# YOUR CODE HERE

## Q3: Products of numbers
Write a function `product` to multiply all of the numbers in a list together.

The function should take in a list and return a number. If the input list is empty, return 0.

*Example:*
```python
>>> L = [1,2,3,4,5]
>>> print(product(L))
120

>>> L = [8,5,3,9,2,12,50,0,388]
>>> print(product(L))
0

>>> L = []
>>> print(product(L))
0
```

In [ ]:
# YOUR CODE HERE

## Q4: Vowels and consonants
Define a function `count_vowels_consonants` which counts the number of vowels and consonants in a word. The function should return both the number of vowels and number of consonants. Don't count any other characters.

In English, vowels are the letters 'a', 'e', 'i', 'o', 'u', and the rest are consonants. 

*Example:*
```python
>>> s = 'CoderSchool'
>>> v,c = count_vowels_consonants(s) # Expected function returns
>>> print('Number of vowels:', v)
Number of vowels: 4
>>> print('Number of consonants:', c)
Number of consonants: 11

>>> s = 'hello world'
>>> v,c = count_vowels_consonants(s) # Expected function returns
>>> print('Number of vowels:', v)
Number of vowels: 3
>>> print('Number of consonants:', c)
Number of consonants: 7

>>> s = ''
>>> v,c = count_vowels_consonants(s) # Expected function returns
>>> print('Number of vowels:', v)
Number of vowels: 0
>>> print('Number of consonants:', c)
Number of consonants: 0
```

In [ ]:
# YOUR CODE HERE

## Q5: Upper and lower
Write a Python function `count_upper_lower` that accepts a string and returns the number of upper case letters and lower case letters.

(Note that space is not counted)

*Example:*
```python
>>> s = 'Christmas is coming to Town'
>>> u,l = count_upper_lower(s) # Expected function returns
>>> print('Number of upper case characters:', u)
Number of upper case characters: 2
>>> print('Number of lower case characters:', l)
Number of lower case characters: 21

>>> s = ''
>>> u,l = count_upper_lower(s) # Expected function returns
>>> print('Number of upper case characters:', u)
Number of upper case characters: 0
>>> print('Number of lower case characters:', l)
Number of lower case characters: 0
```

*(Hint: refer to available [string methods](https://www.w3schools.com/python/python_ref_string.asp))*

In [ ]:
# YOUR CODE HERE

## Q6: Prime check
Write a function `check_prime` that takes a number as an argument and check if the number is prime or not.

The function should return `True` if the number is a prime, and `False` otherwise.

>Note : A prime number is a natural number greater than 1 and that has no positive divisors other than 1 and itself. For example: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29,...

*Example:*
```python
>>> print(check_prime(2))
True
>>> print(check_prime(7))
True
>>> print(check_prime(22))
False
>>> print(check_prime(39))
False
```

In [ ]:
# YOUR CODE HERE

## Q7: Hyphen-separated
Write a function `sort_hyphen` that accepts a hyphen-separated string of words as input and returns the words in a hyphen-separated string after sorting them alphabetically.

*Example:*
```python
>>> s = 'green-red-yellow-black-white'
>>> print(sort_hyphen(s))
black-green-red-white-yellow

>>> s = 'hi-hello-welcome-greetings'
>>> print(sort_hyphen(s))
greetings-hello-hi-welcome

>>> s = 'green_red_yellow_black_white'
>>> print(sort_hyphen(s))
green_red_yellow_black_white
```

*Hint: use string  [`split()`](https://www.w3schools.com/python/ref_string_split.asp), list [`sort()`](https://www.w3schools.com/python/ref_list_sort.asp) and [`join()`](https://www.w3schools.com/python/ref_string_join.asp)*

In [ ]:
# YOUR CODE HERE

## Q8: Inner functions
Create two functions, `my_sum` and`add_5`, to calculate a custom operation in this way:

1. The function `my_sum` accepts two numbers, and return their sum.
2. The function `add_5` takes two numbers, and return their sum plus 5. You must use `my_sum` inside this function.

*Example:*
```python
>>> print(add_5(2,4))
11
>>> print(add_5(1,1))
7
>>> print(add_5(2.5,8.43))
15.93
```

In [ ]:
# YOUR CODE HERE

## Q9 - INTERMEDIATE: Travel bookkeeping

You've decided to go on a vacation. Let's use functions to calculate your trip's costs:

1. First, given that your hotel costs $140 per night, define a function called `hotel_cost` that takes one number: the number of nights you're staying at the hotel. This function should return the total price of the whole stay.

2. Second, define a function called `plane_ride_cost` that takes the name of a city we're staying in as input string. The function should return a different ticket price depending on the location. Below are the valid destinations and their corresponding round-trip prices.

|City        | Price ($)|
|:-:         |    :-:   |
|Charlotte   |    183   |
|Tampa       |    220   |
|Pittsburgh  |    222   |
|Los Angeles |    475   |

3. Next, define a function called `rental_car_cost` that takes in a number: the number of days you rent a car. Calculate and return the total cost of renting a car based on these conditions: 
    - Every day you rent the car costs `$40`.
    - If you rent the car for 7 or more days, you get `$50` off your total cost.
    - Otherwise, if you rent the car for 3 or more days, you get `$20` off your total. You cannot get both of the above discounts.

4. Finally, define a function called `trip_cost` that takes three arguments: the city name and number of days that you rent the car, and the number of nights at the hotel. This function combines everything together: 
    1. Pass the 3 arguments (city name, number of car-renting days, and the number of nights at the hotel) accordingly to the 3 functions we've created to get the separate costs.
    2. Then, calculate and return the total sum of the separate costs calculated by the 3 functions.

*Example:*
```python
>>> city = 'Tampa' # city name
>>> days = 5 # number of days you rent the car for
>>> nights = 8 # number of nights at the hotel
>>> print(trip_cost(city, days, nights))
1520 # Total cost for an 8-day trip to Tampa and renting a car for 5 days

>>> city = 'Los Angeles' # city name
>>> days = 12 # number of days you rent the car for
>>> nights = 14 # number of nights at the hotel
>>> print(trip_cost(city, days, nights))
2865 # Total cost for an 8-day trip to Tampa and renting a car for 5 days
```

In [ ]:
# YOUR CODE HERE

##Q10: Legs count

A farmer is asking you to tell him how many legs can be counted among all his animals. The farmer breeds 3 species:

- A *chicken* has 2 legs
- A *cow* has 4 legs
- A *pig* has 4 legs

Write a function that returns the total number of legs of all the animals. The function should take in a list of strings (each string is 1 of 3 animals above), and return the total number of legs there are. If the list contains animals that are not any of those 3, ignore them and count the rest.

```python
>>> list_of_animals = ['chicken', 'cow', 'pig']
>>> print(count_legs(list_of_animals))
10
>>> list_of_animals = ['pig', 'cow', 'pig', 'dog', 'chicken', 'cat', 'cow']
>>> print(count_legs(list_of_animals)) # ignore 'dog' and 'cat'
18
```

In [ ]:
# YOUR CODE HERE

## Q11: Time converter

Calculate time from 24-hour format to two numbers:
1. The total number of seconds passed since midnight.
2. The total number of seconds until the next midnight.

Your function should take in a string of time in 24-hour time format, like this: `xx:xx:xx`. For example, `10:08:30` denotes 10 hours, 8 minutes and 30 seconds after midnight.

Your function should also return two integers, the first is the seconds passed midnight, and the second is the seconds until next midnight.

```python
>>> time = '10:08:30'
>>> print(convert_time(time))
(36510, 49890) # 36510 seconds passed midnight, 49890 seconds until next midnight
>>> time = '23:59:59'
>>> print(convert_time(time))
(86399, 1)
```

In [ ]:
# YOUR CODE HERE